extends ../layout/layout

block body
    div.center
        h1 It’s empty right now
        h2 Nothing to track
        h2 Login maybe ?
        //pre
        //    | Hey, I just met you
        //    | And this is crazy
        //    | But here's my number
        //    | So call me, maybe?
        button(class="steam-btn btn", type="submit" value="Continue")
            span Continue with
            include ../../public/SteamIcon.svg

