if userData
    nav
        div(class="full-width")
            a(href=`/dashboard?steamid=${steamid}`) Dashboard
            div(class="profile-row")
                div #{userData.personaname} | #{steamid}
                img(src=userData.avatarfull)